@Configuration
: 설정 클래스임을 의미하고, @Bean을 사용하여 스프링 빈(Bean)을 등록

- OAuth2Config
  : OAuth2 인증에서 사용할 DefaultOAuth2UserService 빈을 등록하는 설정 클래스

- SecurityConfig
  : JWT 인증, OAuth2 로그인, CORS 설정

  > BCryptPasswordEncoder : 비밀번호를 BCrypt 알고리즘으로 암호화할 때 사용하는 클래스
  > 1회적인 설정들 함

 - WebMvcConfig
  :  Spring MVC 설정을 담당하는 클래스이며, 주로 정적 리소스(이미지 파일)의 경로를 설정하는 역할